{% extends "base.html" %}

{% block title %}Create New Category{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8" style="margin-bottom: 200px;">
    <h1 class="text-3xl font-bold mb-6 text-center">Create New Category</h1>
    <div class="max-w-md mx-auto">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Category Name:</label>
                <input type="text" id="name" name="name" required
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Create Category
                </button>
                <a href="{% url 'catalogs:list' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Back to List</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}